<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Choose.css">
    <link rel="icon" href="/images/RotaLogo.png" type="image/x-icon">
    <title>Quem é você?</title>

</head>
<body>
    <nav>
        <a class="navbar-brand" href="#"><img class="logo" src="/images/RotaLogo.png"></a>
        <a href="/" class="btn-primary">Entrar sem logar</a>
    </nav>

    <div class="container">
        <h2 class="card-title">Você é?</h2>

        <a href="registerE.html" class="btn-primary">Transportadora</a>
        <a href="/register.html" class="btn-primary">Contratante</a>
    </div>

</body>
</html>
