body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #091849; /* azul */
    color: white;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-bottom: 4px solid #FA6916;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    
}

.nav-right {
    margin-left: auto; /* Empurra os itens de navegação para a direita */
    display: flex;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.nav-right a:hover {
    background-color: #FA6916; 
    transform: translateY(-2px);
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



.card-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #091849; /* Azul */
}

.form-label {
    font-weight: bold;
    color: #091849; /* Azul */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff; /* Azul mais escuro */
    outline: none;
}

.alert {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.alert-danger {
    background-color: #f8d7da; /* Vermelho claro */
    border: 1px solid #f5c6cb;
    color: #721c24; /* Vermelho escuro */
}

.alert-success {
    background-color: #d4edda; /* Verde claro */
    border: 1px solid #c3e6cb;
    color: #155724; /* Verde escuro */
}

.btn-primary {
    background-color: #007bff; /* Azul */
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #FA6916; 
    transform: translateY(-2px);
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.logo {
    margin-left: 20px;
    max-width: 40px;
    height: auto;
    transition: transform 0.2s ease-in-out; /* Transição apenas para a escala */
}

.logo:hover {
    transform: scale(1.5); /* Efeito de escala no hover */
}

.profile-image-container {
    width: 150px; /* Defina o tamanho do contêiner como desejado */
    height: 150px;
    border-radius: 50%; /* Cria um efeito de borda redonda */
    overflow: hidden; /* Garante que a imagem fique dentro do círculo */
    margin: 10px auto; /* Centraliza o contêiner */
    background-color: #f0f0f0; /* Cor de fundo para o caso de não haver imagem selecionada */
    position: relative; /* Permite posicionar o conteúdo interno */
}
.profile-image {
    width: 100%; /* A imagem ocupará 100% do contêiner */
    height: 100%;
    object-fit: cover; /* Ajusta a imagem dentro do círculo */
    position: absolute; /* Posiciona a imagem dentro do contêiner */
    top: 50%; /* Alinha o topo da imagem ao centro vertical */
    left: 50%; /* Alinha a esquerda da imagem ao centro horizontal */
    transform: translate(-50%, -50%); /* Move a imagem para o centro do contêiner */
}